:host {
    display: block;
}

$max-height: 460px;

.wrapper {
    max-height: $max-height;
    overflow-y: overlay;
}

.inner {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 8px;
}
